 <% include layout %>
	<body>
	<script>
	function test(postid,optionid){
		console.log(postid);
		console.log(optionid);
		/*$.ajax({
			url:
			success:function()

		});*/
	}
	</script>
	<h1></h1><br>
	<div class="jumbotron">
	<p><%= Post[0].val %></p>
	<ul class="list-group">
	<%Post[0].option.forEach(function(post){%>
		<li class="list-group-item">
		<div class="btn btn-primary" onclick="test('<%=Post[0]._id%>','<%=post._id%>')">
		<%=post.name%><br>
		</div>
	<%})%>
	</ul>
	</div>
	</body>